{% extends 'sepage/base.html'%}
{% block content %}

<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            <b style="color:red;">View Category
        </div>
        <div>
            <table class="table  table-bordered" style="background-color:black;">

                <thead>
                <tr>
                    <th>SI No</th>
                    <th>Category</th>
                    <th>Action</th>
                    <th>Action</th>
                </thead>
                <tbody>
                {% for d in ds %}
                <tr>

                    <td>{{forloop.counter}}</td>
                    <td>{{d.category_name}}</td>
                    <td><a href="{% url 'delete_cat' id=d.id %}"><button style="color:white; background-color:orange;">DELETE</button></a></td>
                    <td><a href="{% url 'edit_cat' id=d.id %}"><button style="color:white; background-color:orange;">UPDATE</button></a></td>

                </tr>

                {% empty %}
                <tr>
                    <td colspan="6">
                        <div class="alert alert-primary" role="alert">
                            <h4>No Results Found</h4>
                        </div>
                    </td>
                </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock %}